<form action="/create" method="POST">
    <p>Введите название товара</p>
    <input type='text' placeholder="..." name="name">
    <p>Введите цену товара</p>
    <input type='text' placeholder="..." name="price">
    <input type="submit" value="Создать">
</form>